terraform.tfstate
tempfile
codescan*
.viperlightrc
.DS_Store
*.js
!jest.config.js
*.d.ts
*.d.ts.map
node_modules
.history
.vscode
.idea
# CDK asset staging directory
.cdk.staging
cdk.out
**/lerna.json
.*.ts.map
lerna-debug.log
target
tsdocs
dist
jsii-dist
.jsii
tsconfig.tsbuildinfo
npm
.scannerwork
coverage
.mdaa_working
cdk.context.json
__pycache__
.nx
test-template.json
.idea
.terraform*
**/*.drawio.bkp
*.zip
# **/python/*
!**/python/.gitkeep
!deployment/cdk-solution-helper/index.js
deployment/cdk-solution-helper/package-lock.json
deployment/global-s3-assets*
deployment/regional-s3-assets*
